<div class="container-fluid">
    <div class="row">
         <div class="order-lg-1 col-lg-7 col-md-12 mt-5 train-content">
        <header class="header section-header">
          <h2>Åker tågen?</h2>
        </header>
              <form>
                <div class="form-group">
                    <label>Jag åker ifrån...</label>
                        <input id="inputData" type="text" class="form-control" required>
                    <br>
                    <div class="form-group">
                    <button id="inputName" type="submit" class="btn btn-primary mb-2" required>Sök</button>
                    <br>
             </div>
       </div>
            </form>
    
            <div id="infoTable"></div>
        <table class="table table-striped">
            <thead class="thead-dark">
        <tr>
            <th>Nummer</th>
            <th>Avgår</th>
            <th>Ankommer</th>
        </tr>
    </thead>

    <tbody id="rowInfo">

    </tbody>
            
    </table>
                  
</div>

    <div class="col-md-3 order-md-2 offset-1  col-10 col-xl-2 text-center containBox">
        <h2>Vädret på Nicksta</h2>
         <table class="table table-striped"> 
          <thead class="thead-dark">
        <tr>
            <th>Klocka</th>
            <th>Väder</th>
            <th>Värme</th>
            <th>Vind</th>
        </tr>
     </thead>         
    <tbody>
        <tr *ngFor="let weatherStamp of weatherData">
          <td>
            {{ weatherStamp.clock }}
          </td>
          <td>
            {{ weatherStamp.description }}
          </td>
          <td>
            {{ weatherStamp.tempature }}
          </td>
          <td>
            {{ weatherStamp.wind }}
          </td>
        </tr>
        </tbody>
        </table>
     </div>
    </div>
</div>
